// Normally mainpage styles
 
 /*----------header----------*/

 .header{
	@include povh('');
	position: fixed;
	overflow: visible;
	top: 0;
	left: 50%;
	margin-left: -792.5px;
	width:1585px;
	padding-top: 33px;
	padding-bottom: 38px;
	z-index: 30;
	//background:white;
 	.container{
 		overflow: visible;
 	}
 }
 	.header_menu{
 		padding-top: 30px;
 		z-index: 33;
 	}
 	.logo{
 		position: absolute;
		left: -70px;
    	top: 3px;
 	}
	.head_menu{
		float: left;
		width: 500px;
		padding: 27px 0 0 7px;
		li{
			display: inline-block;
			padding: 0 38px 0 0;
			position: relative;
			a{
				color: #070432;
				font-size: 20px;
				text-decoration: none;
				font-family: $fontfamily;
				&:hover{
					color: #ff3652;
				}
				// &:before{
				// 	content: '';
				// 	width: 0px;
				// 	height: 0px;
				// 	background:#ff3652;
				// 	position: absolute;
				// 	border-radius: 50%;
				// 	top: 0;
				// 	left: 0;
				// 	z-index: -1;
				// 	opacity: 0;
				// 	@include transition(all 0.5s);
				// 	transform: scale(1) translateX(-50%) translateY(-50%);
				// }
				// &:hover{
				// 	&:before{
				// 		width: 500px;
				// 		height: 500px;
				// 		opacity: 0.9;
				// 		transform: scale(1) translateX(-50%) translateY(-50%);
				// 	}
				// }

			}
		}
	}
	.menu_item{
		float: right;
		cursor: pointer;
		margin: 15px 10px 0 0 ;
		height: 47px;
		width: 47px;
		background:#010227;
		border-radius: 50%;

		right: -80px;
		position: relative;

		img{
			border-radius: 50%;
		}
		.hamburger{
			padding: 13px 16px;
			.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
				width: 15px;
				height: 1px;
				background:#fff;
			}
			.hamburger-inner::before{
				top: -4px
			}
			.hamburger-inner::after{
				bottom: -4px
			}
			&.hamburger--spin.is-active .hamburger-inner::after{
				bottom: 0;
			}
			&.is-active{
				padding: 12px 15px; 
			}
		}
	}
	
	.prestashop_fixed{
		position: absolute;
		left: -71px;
    	//bottom: -70vh;
    	bottom: -87vh;
		z-index: 5;
		@include transition(all 0.5s);
		a{
			display: block;
			text-decoration: none;
			position: relative;
			min-height: 39px;
			img{
				 @include transition(all 0.5s);
				 box-shadow: 0 0 20px #fff;
				 border-radius: 50%;
				 display: inline-block;
				 position: relative;
				 z-index: 5;
			}
			
			span{
				display: inline-block;
			    position: relative;
			    left: -145px;
			    bottom: 99px;
			    width: 247px;
			    padding-left: 70px;
			    color: #000000;
			    font-size: 18px;
			    text-shadow:  0 0 2px #fff;
				@include rotate(-90);
				 @include transition(all 0.5s);
			}

			img:hover + span{
				// left: -57px;
				// bottom: 10px;
				// @include rotate(0);
				
			}

		}
		&:hover{
			@extend .hinge;
		}
	}
	.pencil{
		position: absolute;
		//right: -143px;
		right: -212px;
		//top: 480px;
		bottom: -70vh; 
		z-index: 5;
		a{
			color: #070432;
			font-size: 20px;
			text-decoration: none;
			@include rotate(90);
			position: relative;
			display: inline-block;
			@include transition(all 0.5s);
			img{
				@include rotate(-90);
			}
			span{
				display: inline-block;
			    padding: 0 55px 0 10px;
			    position: relative;
			    top: -2px;
			    text-shadow:  0 0 2px #fff;
				&:before{
					content: url(../img/down_arrow.png);
					position: absolute;
					bottom: 0;
					right: 0;
					@include rotate(-90);
				}
			}
		}
	}
.fixed_menu{
	position: fixed;
	right: -37%;
	top: 0;
	z-index: 100;
	background:#010227;
	min-height: 100vh;
	width: 35%;
	opacity: 1;
	min-width: 400px;
	@include transition(all 0.5s);
	&.active{
		right: 0;
		opacity: 1;
	}
}
.fixed_menu_overlay{
	background:#000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	display: none;
	&.active{
		display: block;
		opacity: 0;
	}
}
	.fixed_menu_inner{
		width: 330px;
		font-size: 20px;
		color: #fff;
		padding: 50px 0 0 80px;
		nav{
			padding-top: 50px ;
			ul{
				padding-bottom: 80px;
				a{
					font-family: $ffamily;
					text-decoration: none;
					color: #fff;
					&.active, &:hover{
						&:before{
							content: '';
							height: 3px;
							border-radius: 1px;
							width: 35px;
							background:#fff;
							position: absolute;
							bottom: 17px;
							left: 0;
						}
					}
				}
				li{
					padding-bottom: 27px;
					display: block;
					position: relative;
					font-family: $fontfamily;
					font-weight: normal;
				}
			}
		}
	}
		.fixed_menu_top{
			//@include povh('');
			min-height: 35px;
			.logo_text{
				float: left;
				padding: 14px 0 0 0;
			}
			.menu_item{
				padding: 0;
				margin-top: 0;
				border: 1px solid #fff;
				right: -110px;
				img{
					width: 47px;
					border: 1px solid #fff;
				}
			}
		}

/*----------end-header----------*/	

/*----------load----------*/	
.load_page_wrap{
	width: 100%;
	height: 100vh;
	background:#010227;
	position: fixed;
	z-index: 500;
	top: 0;
	left: 0;
	//display: none;
	.container{
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #ffffff;
		width: 100%;
		padding: 0 30px;
		margin: 0 120px;
		section{
			width: inherit;
		}
	}
	span{
		display: block;
		&.typed-cursor{
			display: none;
		}
	}
	.load_title{
		font-size: 64px;
		color: #ffffff;
		padding-bottom: 35px;
		font-family: $medium;
	}
	.load_subtitle{
		font-size: 30px;
		font-weight: 300;
		line-height: 1.4;
		font-family: $fontfamily;
	}
	strong{
		color: #f92644;
	}
}
	.load_logo{
		display: block;
		margin: 0 0 50px 0;
	}
.typed-cursor{
	display: none;
}
/*----------end-load----------*/	


/*----------main----------*/
 
 .main{
 	//background:url(../img/logo_big.png) no-repeat center   199px;
	@include povh('');
 }
 .bull{
 	position: absolute;
 	z-index: 0;
 	right: 161px;
    top: 197px;
 }

 	/*------------slogan-----------*/
 	.slogan{
 		.container{
 		height: 100vh;
 		padding: 117px 0 0 0;
 		box-sizing: border-box;
 		}
 		article{
 			width: 650px;
 			h2{
 				color: #070432;
 				font-size: 70px;
 				line-height: 1.1;
 				padding-bottom: 24px;
 			}
 			p{
 				color: #070432;
 				font-weight: 300;
 				font-size: 30px;
 				font-family: $fontfamily;
 			}
 			strong{
 				font-family: $playfair;
	 			em{
	 				font-style: italic;
	 			}
	 		}	
 		}
 	}
		.coffce {
		    background: url("../img/coffece.png") no-repeat scroll 25px 33px;
		    //bottom: 25px;
		    bottom: 65px;
		    left: 0px;
		    position: absolute;
		    @include transition(all 0.5s);
		    &:hover{
		    	p, span{
		    		opacity: 1;
		    	}
		    }
		    a{
		    	display: block;
		    	text-decoration: none;
		    }
		    h3{
		    	background: url("../img/coffece_arrow.png") no-repeat scroll right center;
			    color: #060837;
			    font-size: 21px;
			    font-weight: 400;
			    margin: 0;
			    padding-right: 25px;
			    padding-left: 80px;
			    border-left: solid #ff1422 4px;
			    height: 69px;
			    line-height: 69px;
			    @include transition(all 0.5s);
		    }
		    span {
			    color: #060837;
			    font-size: 15px;
			    font-weight: 400;
			    display: block;
			    padding-bottom: 10px;
			    padding-left: 84px;
			    opacity: 0;
			    font-weight: 500;
			    @include transition(all 0.5s);
			}
			p{
				color: #060837;
			    display: block;
			    font-size: 15px;
			    font-weight: 200;
			    line-height: 24px;
			    margin: 10px 0 0 84px;
			    opacity: 0;
			    @include transition(all 0.5s);
			}

		}
 	/*-----------end-slogan-----------*/

 	/*-----------ad-----------------*/
 	.ad_text_wrap{
 		background:url(../img/spots.png) no-repeat center;
 		min-height: 769px;
 		margin-top: 95px;
 		section{
 			width: 550px;
			height: 481px;
			margin: 100px 0 20px 8px;
			box-shadow: 0 6px 13px rgba(0,0,0,.09);
			box-sizing: border-box;	
			background: #fff;
 			font-size: 28px;
 			color: #070532;
 			font-family: $fontfamily;
 			padding: 60px;
 			h4{
 				font-size: 42px;
 				font-family: $medium;
 				line-height: 1.1;
 				padding-bottom: 19px;
 			}
 		}
 	}
 	/*----------end-ad-----------------*/

 	/*-------------grid--------------*/
 	.photo_grid_item{
 		width: 50%;
 	}

 	.photo_grid{
 		padding: 90px 0 320px 0;
 		box-sizing: border-box;
 		.container{
 			overflow: visible;
 		}
 		a{
 			display: block;
 			//float: left;
 			@include povh('');
 			@include transition(all 0.3s);
 			img{
 				display: block;
 				width: 100%;
 				@include transition(all 0.3s);
 			}
 			&:hover{
 				div{
 					top: 0;
 					opacity: 1;
 					strong, em{
	 					top: 0;
	 					opacity: 1;	
 					}
 				}	
 				img{
 					transform: scale(1.2);
 				}
 			}
 			div{
				position: absolute;
				top: 0%;
				left: 0;
				//background:rgba(0,0,0,0.4);
				width: 100%;
				height: 100%;
				color: #fff;
				font-size: 16px;
				//vertical-align: middle;
				//text-align: center;
				@include transition(all 0.3s);
				//opacity: 0;
				span{
					position:absolute;
					//top: 50%;
					width: 100%;
					left: 0;
					@include transition(all 0.3s);
					//transform: translateY(-50%);
				}
				strong{
					display: block;
					font-size: 20px;
					position: relative;
					top: 30px;
					//opacity: 0;
					@include transition(all 0.9s);
					text-align: left;
				    font-size: 1.4rem;
				    color: #fff;
				    line-height: 1.4rem;
				    display: block;
				    margin-bottom: 9px;
				    padding: 25px 0 0 25px;
				}
				em{
					font-style: normal;
					font-size: 30px;
					position: relative;
					top: 30px;
					//opacity: 0;
					@include transition(all 0.9s);
					padding: 25px 0 0 25px;
				}
 			}
 			div.photo_grid_color{
	 			position: absolute;
	 			left: 0;
	 			top: 0;
	 			width: 100%;
	 			height: 100%;
	 			z-index: 2;
	 			opacity: 1;
	 			display: block;
	 			@include transition(all 2.9s);
 			}
 		}
 		&.active{
 			//background:red;
 			div.photo_grid_color{
	 			position: absolute;
	 			left: 0;
	 			top: 0;
	 			width: 100%;
	 			height: 100%;
	 			z-index: 2;
	 			opacity: 0;
	 			display: block;
 			}
 		}
 	}
 	/*------------end-grid--------------*/

 	/*------------see--------------*/
 	.see_all{
 		color: #0b0b1b;
 		padding-bottom: 323px;
 		a{
 			text-decoration: none;
 		}
 		h6{
 			font-size: 120px;
 			color: #0b0b1b;
 			line-height: 1;
 			font-family: $playfair;
 			font-weight: bold;
 		}
 		p{
 			padding: 23px 0 0 0;
 			font-size: 30px;
 			font-family: $fontfamily;
 		}
 	}
 	/*------------end-see--------------*/



/*----------end main----------*/	

	
/*----------footer----------*/
 
 .footer{
	@include povh('');
	min-height: 280px;
	background:url(../img/foot_bg.png) no-repeat bottom center;
	font-family: $fontfamily;
 	.container{
 		padding: 0 0 80px 0;
 	}
 	.float_left{
 		width: 450px;
 		h6{
 			color: #0d0b37;
 			font-size: 27px;
 			padding-bottom: 15px;
 		}
 		p{
 			font-size: 18px;
 			font-weight: 300;
 			font-family: $fontfamily;
 			padding: 0px 0 33px 0; 
 			line-height: 32px;
 		}
 		.foot_logo{
 			display: block;
 			margin-top: 67px;
 		}
 		.ovh{
 			@include povh('');
 			padding: 18px 0 0 0;
 			section{
 				width: 50%;
 				float: left;
 				line-height: 32px;
 				font-size: 18px;
 				font-weight: 300;
 				&:first-child{
 					box-sizing: border-box;
 					padding: 0 30px 0 0;
 				}
 			}
 		}
 	}
 	.float_right{
 		margin-top: 70px;
 		float: right;
 		width: 300px;
 		text-align: right;
 		color: #acacac;
 		font-size: 18px;
 		font-weight: 300;
 		p{
 			display: block;
 			padding: 26px 0 0 0;
 		}
 	}
 }
 	.contact_us{
 		float: right;
 		width: 490px;
 		font-size: 32px;
 		font-family: $light;
		height: 269px;
		color: #070432;
		box-sizing: border-box;
		padding: 27px;
		padding-right: 0;
		background-color: rgba(254, 54, 82, 0.8);
		h6{
			font-family: $bolditalic;
			font-size: 32px;
			padding-bottom: 15px;
		}
 	}
 	.prestashop_foot{
 		text-align: center;
 		width: 200px;
 		@include povh('');
 		float: right;
 		margin: 0 80px 0 0;
 		padding: 38px 0px 0 0;
 		figcaption{
 			color: #26225c;
 			font-size: 17px;
 			padding: 10px 0 0 0;
 		}
 	}
	
	

/*----------end footer----------*/


/*----------about_page----------*/
.about_page{
	background:#f0f0f0;
	.header{
		background:#01021e;
	}
	.head_menu li a{
		color: #fff;
	}
	.menu_item{
		border: 2px solid #fff;
		.hamburger {
			padding: 11px 14px;
		}
	}
	.slogan{
		 article h2, article p{ color: #fff;}
		 .container{
		 	height: auto;
		 	padding-top: 160px;
		 }
	}

	.pencil {
		a{
			padding: 0 0px;
			filter: brightness(500);
			span{
				color: #fff;
				text-shadow: none;
			}
		}
	}	
	.prestashop_fixed {
		a span{
			text-shadow: none;
			color: #fff;
		}
		a img{
			box-shadow: none;
		}

	}	
}
.about_wrap{
	background:#01021e;
	color: #fff;
	padding-bottom: 300px;
}
	.about_txt{
		padding: 130px 0;
		font-family: $fontfamily;
		font-size: 30px;
		font-weight: 400;
		p{
			padding-bottom: 40px;
		}
	}
	.about_tags{
		font-size: 18px;
		line-height: 36px;
		font-family: $fontfamily;
		h6{
			font-size: 44px;
			font-family: $medium;
			padding-bottom: 41px;
		}
	}
.about_clients{
	position: relative;
	font-size: 23px;
	font-family: $fontfamily;
	margin-top: -165px;
	margin-bottom: 115px;
	.container{
		text-align: center;
		height: 283px;
		background-color: #ff3551;
	}
	section{
		width: inherit;
		height: inherit;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
	h3{
		font-size: 50px;
		color: #01021e;
		font-family: $medium;
	}
}
.partners_wrap{
	padding-bottom: 150px;
	nav{
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: space-around;
	  align-items: center;
	  align-content: center;
	  position: relative;
	  margin-left: -1px;
		a{
			margin-bottom: 35px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: center;
			align-content: center;
			width: 20%;
			height: 170px;
			border-left: 1px solid #dadada;
		}
	}
}
/*----------end-about_page----------*/

/*---------------cases-------------------*/
.visit{
	float: right;
	a{
		@extend .button;
		width: 195px;
		height: 43px;
		border-radius: 3px;
		font-size: 18px;
		color: #fff;
		box-sizing: border-box;
		background: #000227;
		margin: 17px 25px 0 0;
		&:hover{
			background:#302e5b;
		}
	}
}
.cases_text_wrap{
	margin: 70px 0 150px 0;
	position: relative;
	color: #000;
	&.cases_tabs_txt{
		margin-bottom: 0;
		h4{
			color: #070432;
			line-height: 1.5;
			padding-bottom: 10px;
			font-family: $fontfamily;
		}
	}
	& > div{
		margin-bottom: 50px;
	}
	h1{
		font-size: 60px;
		padding-bottom: 16px
	}
	h5{
		font-size: 26px;
		font-family: $fontfamily;
	}
	h2{
		font-size: 70px;
		color: #070432;
		line-height: 1.2;
		padding-bottom: 25px;
	}
	h2 + h4{
		color: #070432;
		line-height: 1.5;
	}
	h4{
		font-size: 30px;
		padding-bottom: 26px;
	}
	h3{
		font-size: 40px;
		color: #070432;
		padding-bottom: 50px;
	}
	p{
		font-size: 16px;
		line-height: 32px;
		padding-bottom: 25px;
		font-family: $fontfamily;
		strong{
			font-size: 18px;
		}
	}
	& > div.car{
		padding-bottom: 120px;
	}
}
	.cases_text_top{
		margin-bottom: 120px;
		position: relative;
		overflow: visible;
		section{
			position: absolute;
			left: -50px;
			top: 160px;
			width: 200px;
			color: #000;
			font-size: 23px;
			font-family: $fontfamily;
			h2{
				padding-bottom: 19px;
				font-size: 100px;
				letter-spacing: -4px;
				font-family: $medium;
			}
			p{
				line-height: 45px;
			}
		}
	}

.tabs_navigation{
	padding-bottom: 40px;
	li{
		display: inline-block;
		padding: 0 170px 0 0;
		a{
			font-size: 16px;
			color: #000;
			font-family: $bold;
			display: block;
			text-decoration: none;
			@include transition(all 0.3s);
			&:hover, &.active{
				span{
					&:after{
						width: 100%;
					}
				}
			}
			span{
				@include transition(all 0.3s);
				&:after{
					@include transition(all 0.3s);
					border-bottom: 2px solid #000;
					content: '';
					width: 0%;
					display: block;
					margin: 0 auto;
				}
				display: inline-block;
				padding-bottom: 3px;
			}
		}
	}
}
.tab_grid{
	padding: 5px 0 370px 0 ;
	img{
		max-width: 100%;
	}
	.photo_grid{
		padding-top: 0;
	}
}
/*--------------end-cases----------------*/

/*------------contacts------------*/
.left-bull-contact {
    float: left;
    width: 48%;
}
.right-bull-contact {
    float: right;
    width: 48%;
}
.form{
	padding-bottom: 200px;
	 input[type="submit"] {
    -moz-appearance: none;
    background: #020428 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    float: right;
    font-size: 22px;
    font-weight: 400;
    height: 70px;
    line-height: 70px;
    margin: 40px 0 0;
    width: 100%;
    max-width: 315px;
    &:hover{
    	opacity: 0.8;
    }
	}
}
/*-------------end-contacts------------*/